node_modules/
*/node_modules/
external/eureka/eurekaservicediscovery/target/
zookeeper-init/config.json
*/*.log
*/gcp_config.js
fls/serviceAccount.json
external/learning/target/
external/learning/*.log
external/learning/src/main/resources/serviceAccount.json
external/zuul/target/